.Header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Header h1 {
    font-family: MathildeFont;
    font-size: 100px;
    font-weight: 900;
    /* background-color: #f3ec78;
    background-image: linear-gradient(45deg, #00FFD1, #31C6D4, #FFFF00, #FF1E1E, #FF1E1E); 
    background-size: 100%;    */
    /* background-repeat: repeat; */
    /* background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    text-shadow: 5px 5px 1px black; */

    /* background: -webkit-linear-gradient(45deg, #00FFD1, #31C6D4, #FFFF00, #FF1E1E, #FF1E1E);
    background-clip: text;
    -webkit-text-fill-color: transparent; */
    
    -webkit-text-fill-color: transparent;
    /* -webkit-text-stroke: 1px black; */
    background-clip: text;
    background-image: linear-gradient(45deg, #00FFD1, #31C6D4, #FFFF00, #FF1E1E, #FF1E1E);
    text-shadow: 5px 5px 1px rgb(43, 43, 43);
    
}

@font-face {
    font-family: MathildeFont;
    src: url(../../../assets/fonts/mathilde.otf);
}

@font-face {
    font-family: RumRaisinRegularFont;
    src: url(../../../assets/fonts/RumRaisin-Regular.ttf);
}

@font-face {
    font-family: HonkRegularFont;
    src: url(../../../assets/fonts/Honk-Regular.ttf);
}

@font-face {
    font-family: HonkFont;
    src: url(../../../assets/fonts/honk.ttf);
}