.Header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Header h1 {
    font-family: MathildeFont;
    font-size: 100px;
    font-weight: 900;
        
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-image: linear-gradient(45deg, #00FFD1, #31C6D4, #FFFF00, #FF1E1E, #FF1E1E);
    text-shadow: 5px 5px 1px rgb(43, 43, 43);
    
}

@font-face {
    font-family: MathildeFont;
    src: url(../../../assets/fonts/mathilde.otf);
}

/* DELETE ALL THE FONTS (ALSO FROM THE FOLDER!) */
@font-face {
    font-family: RumRaisinRegularFont;
    src: url(../../../assets/fonts/RumRaisin-Regular.ttf);
}

@font-face {
    font-family: HonkRegularFont;
    src: url(../../../assets/fonts/Honk-Regular.ttf);
}

@font-face {
    font-family: HonkFont;
    src: url(../../../assets/fonts/honk.ttf);
}