.Layout {
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 15% 5% 80%;
    grid-template-columns: repeat(12, 1fr);
}

.Layout > header,
.Layout > aside {
    grid-column: span 12;
}

.Layout>main {
    grid-column: span 12;
    overflow: auto;
}